* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.main-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    width: 100%;
}
.header__container {
    background: #999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-between;
    &__logo {
        width: 250px;
    }
    &__navigation {
        width: 65%;
        margin-left: auto;
        &-list {
            display: flex;
            &>li {
                list-style: none;
                flex-grow: 1;
                &>a {
                    text-decoration: none;
                    color: black;
                    &:hover {
                        color: orange;
                    }
                }
            }
        }
    }
}