.error-404 {
    font-size: 4rem;
    margin-top: 100px;
    min-height: 60vh;
    line-height: 60hv;
    text-align: center;
}

.sector {
    margin-top: 100px;
    padding: 10px 20px;
    min-height: 60vh;
}
